body{
    background-color: blanchedalmond;
}

#navbarDiv{
    background-color: red;
}

#footerDiv{
    background-color: red;
}



.carousel-item img{
    height: 300px;
    width: 100%;
}

.card{
    display: inline-block;
    margin: 10px
}

.card img{
    max-width: 100%;
    height: 300px;
}

.card-deck{
    text-align: center;
}